body{
    margin:0;
    padding: 0;
    background-color: #dfc498;
}
.navbar{
    background-color: #684627;
    padding:20px;
}
ul {
    padding-left: 0;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
}
.navbar li{
    list-style-type: none;
    display: inline-block;
   margin: 0px 12px ;
    padding:4px 20px;

}
.navbar a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}
.about{
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding:40px;
    background-color: #9b7d61;
}
.about-item{
    display: flex;
    flex-wrap: wrap;
}
.about-text,.team-text{
    padding: 18px;
}
.team{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin:40px;
    padding:20px;
}
footer{
    background-color: #684627;
    margin:0;
    padding:20px 20px 40px 20px;
   
}
.links-container{
    display: flex;
    justify-content: space-between;
}

footer h3{
    font-size: 1.2rem;
}
footer a{
    text-decoration: none;
    color: #9b7d61;
    font-size: 1.1rem;
}
footer a:hover{
    color: #dfc498;
}
footer li{
    
    list-style-type: none;
   margin: 0px 12px ;
    padding:4px 20px 4px 0;
    text-align: left;
}
footer p {
    text-align: center;
    color: #947e6a;
}